@use "@/styles/variables/core-variables" as c;

.centered {
    max-width: c.$content-width-narrow;
    width: 100%;
    margin: 0 auto;

    & > .pageContent {
        padding: c.$page-content-padding-vertical
            c.$page-content-padding-horizontal;
    }
}
